.black-timer{
    position: absolute;
    top: 120px;
    left: 950px;
    width: 140px;
    border: none;
    padding: 30px;
    border-radius: 10px;
    background-color: gray;
    opacity: 0.2;
}

.white-timer{
    position: absolute;
    top: 820px;
    left: 950px;
    width: 140px;
    border: none;
    padding: 30px;
    border-radius: 10px;
    background-color: gray;
    opacity: 0.2;
}

.black-time{
    position: absolute;
    text-align: center;
    top: 115px;
    left: 950px;
    width: 200px;
    border: none;
}

.white-time{
    position: absolute;
    text-align: center;
    top: 815px;
    left: 950px;
    width: 200px;
    border: none;
}